@model WebEvidencPojistenychDK.Models.Insurance

@{
    ViewData["Title"] = "Oddstranit pojištění";
}



<div class="col-9">
<div class="mt-5">
    <h5><strong>Pojištěnec: @Html.DisplayFor(model => model.InsuredPerson.FirstName) @Html.DisplayFor(model => model.InsuredPerson.Surname)</strong></h5>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            Druh pojištění:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
    
        <dt class = " col-sm-2">
            Pojistná částka:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value) Kč
        </dd>
    </dl>
    <div></div>
   <div class="btn-group">
        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Odstranit" class="btn btn-danger " />
        </form>
        <a asp-action="Details" asp-controller="Insurances" asp-route-id="@Model.Id">
            <input type="submit" value="Zpět" class="btn btn-secondary " />
        </a>
    </div>
</div>
</div>